.row{
    background-color:darkblue;
    height:60px;
    width: 1300px;
    color: white;
    padding-top: 20px;
}
p{
    text-align: center;
    
    align-items: center;
    
}
.left{
    padding-top: 20px;
    position: absolute;
    top: 10px;
    left: 1000px;
}
.hm{
    text-align: right;
    position: relative;
    top: -5px;
}
.logo{
    height: 70px;
    width: 300px; 

}
.big{
    height: 500px;
    width: 1300px;
}
.slide{
    text-align: center;
    background-color: darkslateblue;
}
h1{
    text-align: center;
    color: blue;
    color: green;

}
.para{
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}


.daily
{
    display: inline-block;
    background-color: lightseagreen;
    width: 300px;
    height: 100px;
    margin: -10px;
}
.family
{
display: inline-block;
background-color: lightseagreen;
width: 300px;
height: 100px;
margin: -10px;
}
.medical{
    display: inline-block;
    background-color: lightseagreen;
    width: 300px;
    height: 100px;
    margin: -10px;
    
}
.education{
    display: inline-block;
    background-color: lightseagreen;
    width: 300px;
    height: 100px;
    margin: -10px;
}
.online{
    display: inline-block;
    border-style: inset;
    border-width: 100px;
    margin-right: 100px;
    height: 1px;
    margin-top: 50px;
}
.welfare{
    display: inline-block;
    border-style: inset;
    border-width: 100px;
    margin-right: 100px;
    height: 1px;
    margin-top: 50px;
}
.dr{
    display: inline-block;
    border-style: inset;
    border-width: 100px;
    margin-right: 100px;
    height: 1px;
    margin-top: 50px;
    
}
.dast{
    display: inline-block;
    border-style: inset;
    border-width: 100px;
    margin-right: 100px;
    height: 1px;
    margin-top: 50px;
}
.ro{
    display: inline-block;
    border-style: inset;
    border-width: 100px;
    margin-right: 100px;
    height: 1px;
    margin-top: 50px;
}
.edu{
    display: inline-block;
    border-style: inset;
    border-width: 100px;
    margin-right: 100px;
    height: 1px;
    margin-top: 50px;
}
h2{
    font-size: 30px;
    text-align: left;
    color: blue;
}
h3{
    display: inline-block;
    margin-left: 1000px;
    color: blue;
}
.house{
    display: inline-block;
    color: blue;
}
.thar{
    display: inline-block;
}
.office{
    height: 300px;
    width: 1350px;
    background-color: darkgray;
    text-align: left;
}
.footer{
    height: 50px;
    width: 1300px;
    background-color: slategrey;
    text-align: left;
    padding: 20px;
}
.address{
    text-align: left;
    padding: 50px;
}
.use{
    text-align: center;
    
    position: relative;
    top: -200px;
}
.connect{
    text-align: right;
    position: relative;
    bottom: 250px;
    margin-right: 10px;
}
.mono{
    width: 50px;
    height: 50px;
    position:relative;
    top: 10px;
    left: 650px;
}